extends layout
mixin metric(id1,title,footer)
	div(class="panel panel-info",id="#{id}-metric" )
		if title
			div.panel-heading: h3.panel-title= title
		div(class="panel-body metric" style="height:300px; overflow:auto")
			h4(id="#{id1}",style="color:blue")= ""
		if footer
			div.panel-footer
				label(style="padding:1%") Type Here
				input(type="text", name="chat", id=footer, style="width:400px")

block styles

block scripts
	// enable socket.io communication on the client-side
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/chatroom.js')

block content
	div(class="container")
		div.page-header: h1 Chat Room 
		div(class="row")
			span(id="welcome" style="color:green")
			div(class="col-lg-6")
				div
					label(style="padding:1%") Your Nickname
					input(type="text", name="nick" id="nickname")
					button(id="setname" class="btn btn-info" style="padding:1%;margin-left:1%") GO 
		div(class = "row")
			div(class="col-lg-6")
				+metric("content","Chat Box","chatmsg")
