<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container"><img src="/images/twitter_icon.png">
      <h1>Twitter Dashboard</h1>
      <div class="row">
        <div class="col-lg-2"></div>
        <p style="padding-left:20%">Total Tweets : <span id="tot-count" class="badge"></span></p>
      </div>
      <div class="row">
        <div style="width:32%" class="col-lg-3">
          <p> <span class="word0">Word0 </span><span>Tweets Count : </span><span id="word0-count" class="badge"></span></p>
          <div id="w0tweets-metric" class="panel panel-info">
            <div class="panel-heading">
              <panel-title class="w0tweets">Word1 Tweets</panel-title>
            </div>
            <div class="panel-body metric nav">
              <ul id="w0tweets" class="list-group"></ul>
            </div>
          </div>
        </div>
        <div style="width:32%" class="col-lg-3 span4">
          <p><span class="word1">Word1</span><span>Tweets Count : </span><span id="word1-count" class="badge"></span></p>
          <div id="w1tweets-metric" class="panel panel-info">
            <div class="panel-heading">
              <panel-title class="w1tweets">Word2 Tweets</panel-title>
            </div>
            <div class="panel-body metric nav">
              <ul id="w1tweets" class="list-group"></ul>
            </div>
          </div>
        </div>
        <div id="chart"></div>
      </div>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <p id="ss-tweets"></p>
  <!-- enable socket.io communication on the client-side-->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/twitter.dashboard.js"></script>
  <script src="/javascripts/d3.v3.min.js"></script>
</html>