extends layout
mixin metric(id, title)
	div(class="panel panel-info",id="#{id}-metric" )
		if title
			div.panel-heading: panel-title(class="#{id}")= title
		div(class="panel-body metric nav")
			ul(id="#{id}" class="list-group")

block styles
	link(rel='stylesheet',href='/stylesheets/style.css')

block scripts
	// enable socket.io communication on the client-side
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/twitter.dashboard.js')
	script(src='/javascripts/d3.v3.min.js')
block content
	div(class="container")
		div.page-header: h1 Twitter Dashboard 
							img(src="/images/twitter_icon.png") 
		div(class = "row")
			div(class="col-lg-2")
			p(style="padding-left:20%") Total Tweets : 
				span(class="badge",id="tot-count")
		div(class = "row")
			div(class="col-lg-3" style="width:32%")
				p 
					span(class="word0") Word0 
					span Tweets Count : 
					span(class="badge", id="word0-count")
				+metric("w0tweets","Word1 Tweets")
			div(class="col-lg-3 span4" style="width:32%")
				p
					span(class="word1") Word1
					span Tweets Count : 
					span(class="badge", id="word1-count")
				+metric("w1tweets","Word2 Tweets")
			div(id="chart")
